body {
    background-color: rgba(var(--b3f,250,250,250),1);
}
.mob {
    position: fixed;
    top: 10%;
    left: 22%;
    width: 450px;
    
}
.preuzmi {
    position: absolute;
    bottom:12%;
    left: 64%;
    text-align: center;
    font-display: 14px;
}
.logoMac{
    position: absolute;
    bottom: 6%;
    left: 61%;
    
}
.logoMac:hover {
    cursor: pointer;
}
.logoAndroid {
    position: absolute;
    bottom: 6%;
    left: 70%;
}

