.header {
    border: 1px solid gainsboro;
    height: 54px;
    -webkit-box-align: center;
    background-color: white;
}
.logoIg {
    height: 54px;
    position: absolute;
    left: 15%;
}
.logoIg {
    cursor: pointer;
}
.home {
    position: absolute;
    right: 30%;
    top: 1.8%;
    cursor: pointer;
    font-size: 30;
    color:black;
}

.favorite {
    position: absolute;
    right: 27%;
    top: 1.8%;
    cursor: pointer;
}
.avatar {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 23.8%;
    top:1.8%;
    cursor:pointer;
}
.favorit {
    position: absolute;
    right: 27%;
    top: 1.8%;
    cursor: pointer;
    color:black;
}