.regIme {
    position: absolute;
    top: 45%;
    left: 41.5%;
    background-color: rgba(var(--b3f,250,250,250),1);
    width: 250px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.regEmail {
    position: absolute;
    top: 51%;
    left: 41.5%;
    background-color: rgba(var(--b3f,250,250,250),1);
    width: 250px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.regKorisn {
    position: absolute;
    top: 57%;
    left: 41.5%;
    background-color: rgba(var(--b3f,250,250,250),1);
    width: 250px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.regPass {
    position: absolute;
    top: 63%;
    left: 41.5%;
    background-color: rgba(var(--b3f,250,250,250),1);
    width: 250px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.podNaslov {
    position: relative;
    top: 23%;
    color:rgba(var(--f52,142,142,142),1);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    
}
.ili {
    position: absolute;
    left: 50%;
    top: 37%;
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
.prijavaFaceb {
    border:1px solid transparent;;
    width: 250px;
    position: absolute;
    left: 36.5%;
    top: 31%;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    margin: 10px 70px;
    
    
}
.prijavaFaceb:hover {
    cursor: pointer;
}
.registBttn{
    border: 1px solid transparent;
    width: 255px;
    position: absolute;
    top: 70%;
    left: 41.5%;
    box-sizing: border-box;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
.registBttn:hover {
    cursor: pointer;
}

.uvjeti {
    color: #8e8e8e;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 78%;
}
.slika {
    position: absolute;
    right: 35%;
}